/AdventofCode2024/aoc_2024/day_1/input1.txt
/AdventofCode2024/aoc_2024/day_1/Day1Input.txt
/AdventofCode2024/aoc_2024/day_2/Day2Input.txt
/AdventofCode2024/aoc_2024/day_2/Day2ExampleInput.txt
/AdventofCode2024/.env
/AdventofCode2024/aoc_2024/day_3/input1.txt
/AdventofCode2024/aoc_2024/day_3/input2.txt

