/AdventofCode/AdventofCode2024/aoc_2024/day_1/input1.txt
/AdventofCode/AdventofCode2024/aoc_2024/day_1/Day1Input.txt
/AdventofCode/AdventofCode2024/aoc_2024/day_2/Day2Input.txt
/AdventofCode/AdventofCode2024/aoc_2024/day_2/Day2ExampleInput.txt
/AdventofCode/AdventofCode2024/.env
/AdventofCode/AdventofCode2024/aoc_2024/day_3/input1.txt


/AdventofCode2024/aoc_2024/day_1/input.txt
/AdventofCode2024/aoc_2024/day_2/input.txt
/AdventofCode2024/aoc_2024/day_3/input.txt
/AdventofCode2024/aoc_2024/.env
/AdventofCode2023/Day4/Day4Input.txt
/AdventofCode2023/Day4/Day4Example.txt
/AdventofCode2023/Day5/Day5Input.txt
